@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.7;
    font-family: Roboto;
    color: #405170;
    /* background-color: #E2E9F9; */
}

a{
    text-decoration: none;
    color: firebrick;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

input:focus, button:focus{
    outline: none;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.container{
    max-width: 1200px;
    margin: 3rem auto;
    padding: 20px;
}



/*  */

.profile-container{
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 8px;
    max-width: 650px;
    margin: 4rem auto;
    padding: 3rem;
}

.profile-container .avatar{
    text-align: center;
    line-height: 2;
}

.profile-container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-container .avatar div{
    background-color: rgb(234, 247, 255);
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 6px;
}

.profile-container .form-group{
    margin: 30px 0;
}

.profile-container .form-group.flex span{
    margin-left: 20px;
}

.profile-container label{
    display: block;
}

.profile-container input[type="text"]{
    padding: 1.2rem;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ddd;
}
.profile-container input[type="text"]::placeholder{
    font-size: 17px;
}

.profile-container input[type="checkbox"]{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.profile-container button{
    padding: 1.2rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: firebrick;
    font-size: 20px;
    cursor: pointer;
}

.already-account{
    text-align: center;
    margin: 30px 0;
}
